.search_header {
  margin: 30px 0 30px 20px;
  h3 {
    font-size: 23px;
    font-weight: 600;
  }
}
.search_videos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  h5 {
    color: $iColor;
    font-size: 33px;
    font-weight: 500;
    height: 500px;
    display: flex;
    align-items: center;
  }
}