.sns-login
    button.github
        a(href=routes.github)
        span
               i.fab.fa-github
        |깃허브로 로그인

    button.facebook
        a(href=routes.facebook)
        span
            i.fab.fa-facebook
        |페이스북으로 로그인