mixin videoPlayer(video={})
    .videoPlayer#jsVideoContainer
        video#jsVideoPlayer(src=`/${video.src}`, controls=false)
        .videoPlayer__controls
            .videoPlayer__colum
                input.videopPlayer__volume#jsVolume(type="range", min="0", max="1", step="0.1", value="0.5")
                span#jsVolumeButton
                    <i class="fas fa-volume-up"></i>
                span#jsCurrentTime 00:00:00
                |/
                span#jsTotalTime 00:00:00
            .videoPlayer__column
                span#jsPlayButton
                    <i class="fas fa-play"></i>
            .vidoPlayer__colum
                span#jsFullScreenButton
                    <i class="fas fa-expand"></i>