mixin videoPlayer(video={})
    .videoPlayer#jsVideoPlayer
        video(src=`/${video.src}`, controls=false)
        .videoPlayer__controls
            .videoPlayer__colum
                span#jsVolumeButton
                    <i class="fas fa-volume-up"></i>
                span#jsCurrentTime 00:00:00
                |/
                span#jsTotalTime 00:00:00
            .videoPlayer__column
                span#jsPlayButton
                    <i class="fas fa-play"></i>
            .vidoPlayer__colum
                span#jsFullScreenButton
                    <i class="fas fa-expand"></i>