extends layout/main
include mixin/videoBlock

block content
    .videos
        each video in videos
            +videoBlock({
                id:video.id,
                title:video.title, 
                description:video.description,
                views:video.views,
                videoFile:video.fileUrl
            })