extends layouts/main

block content
    .search_header
        h3 '#{searchTerm}'로 검색한 결과입니다.
    .search_video
        each item in videos
            +videoBlock({
              title: item.title,
              description: item. description,
              videoFile: item.videoFile  
            })