extends ../layout/main

block content
    .form_container
        .record-container#jsRecordContainer
            video#jsVideoPreview
            button#jsRecordButton Start Recording
        form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data")
            label(for="file") 영상을 업로드 하려면 클릭하세요.
            input(type="file", name="videoFile", id="file", required=true, accept="video/*")
            input(type="text", name="title", placeholder="영상의 제목을 입력해주세요.", required=true)
            textarea(name="description", placeholder="영상에 대한 설명을 입력해주세요.", required=true)
            input(type="submit", value="업로드")
