.footer {
	width: 100%;
	padding: 15px 0;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $white-color;
	flex-flow: column;
	.footer_icon {
	  font-size: 30px;
	  span {
		font-size: 17px;
		font-weight: 500;
	  }
	}
	a{
		color: $white-color;
	}
  }