footer.footer
    .footer_icon
        i.fab.fa-google-play
    span.text &copy; #{new Date().getFullYear()} #{siteName}
    div.developerInfo
        span.mail naiseya486@gmail.com | 
        span.github 
            a(href="http://github.com/2020newlife" target="_blank") github.com/2020newlife
