extends ../layout/main

block content
   .form_container
        form(action=`/users${routes.change_password}`, method="post")
            input(type="password", name="oldPassword", placeholder="원래 암호를 입력해주세요.", required=true)
            input(type="password", name="newPassword", placeholder="새 암호를 입력해주세요.", required=true)
            input(type="password", name="newPassword1", placeholder="새 암호를 다시 입력해주세요.", required=true)
            input(type="submit", value="비밀번호 변경")